<ion-header>
  <ion-navbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card>
  <img src="assets/imgs/nin-live.png"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
