<ion-header>
  <ion-navbar>
    <ion-title>
      Listas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        Mi primera lista
      </ion-card-header>
      <ion-list>
        <button ion-item *ngFor="let item of lista">
          <ion-icon name="cart" item-start [ngStyle]="{'color': item.color}"></ion-icon>
          {{ item.titulo }}
        </button>  
      </ion-list>
  </ion-card>
  <ion-card>
      <ion-card-header>
        Mi lista con más información 
      </ion-card-header>
      <ion-list>
        <button ion-item *ngFor="let item of miLista" (click)="abrirDetallesPagina(item)" icon-start>
          <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start ></ion-icon>
          {{ item.title }}
        </button>  
      </ion-list>
  </ion-card>
</ion-content>
