<ion-header>
  <ion-navbar>
    <ion-title>Hola mundo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Hola mundo!</h2>
  <p>
    Estoy probando ionic
  </p>
  <button ion-button (click)="otraPagina()">Ir al grid</button>
  <button ion-button block color="dark" (click)="mostrarAlerta()">Mostrando una alerta</button>
  <button ion-button block color="green" (click)="mostrarAlerta2()">Mostrando alerta con un input</button>
  <button ion-button block color="blue" (click)="mostrarOcultar()">{{mostrarTexto ? 'Ocultar texto' : 'Mostrar texto'}}</button>
  <div  *ngIf="mostrarTexto">
    <h3>Mis hobbies son:</h3>
    <ul>
      <li *ngFor="let hobbie of  hobbies">
        {{hobbie}}
      </li>
    </ul>
  	<form (submit)="textoInput(texto)">
  		<input #texto type="text" name="texto" placeholder="Añade un hobbie">
  	</form>
  </div>
  <div>
    <h3>Modifica el nombre:</h3>
    <h1>{{name}}</h1>
    <label for="name">Nombre:</label>
    <input type="text" name="name" placeholder = "Cambia el nombre" [(ngModel)] = "name"> 
  </div>
</ion-content>
