<!--
  Generated template for the GridPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>grid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row align-items-center>
			<ion-col col-auto >
				<p>columna que se ajusta al ancho del contenido</p>
				<p>columna que se ajusta al ancho del contenido</p>
				<p>columna que se ajusta al ancho del contenido</p>
			</ion-col>
			<ion-col col-auto>
				<p>columna</p>
			</ion-col>
		</ion-row>
		<ion-row >
			<ion-col col-3 col-md-6>
				<p>columna </p>
			</ion-col>
			<ion-col col-9 col-md-6>
				<p>columna</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
