<!--
  Generated template for the MasinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start ></ion-icon>
	{{item.description}}
</ion-content>
